# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

config.log
config.status
make.rules
make.sys
configure
peg_*

cfitsio/cfitsio.pc
cfitsio/config.status
cfitsio/config.log
cfitsio/Makefile


configure

bin/*
src/*
!src/*.f90
src/peg_config.f*

.DS_Store
